/**header**/
.site-header{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 750px;
}

/**Colores**/ 
.color-header{
  background-color:rgb(72, 75, 78) !important;
}

.bg-custom {
  background-color: rgb(72, 75, 78); 
  color: #ffffff; 
}
.footer-color {
  background-color: rgb(2, 63, 76); 
  color: white; 
  padding: 20px;
}

/**texto**/
.texto-header{
  color: rgb(161, 159, 159);
}
.texto-header:hover {
  color: #ffffff;
}
.texto-compra{
  color:rgb(0, 205, 0);
}
.texto-compra:hover {
  color: grey;
}
.button-enviar{
  background-color: #74d533;
  border: none;
}

.site-header{
  color: dimgray;
  justify-content: none;
}
.footer{
    color: white; /* Cambia el color de los enlaces a blanco */
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    margin-right: 10px; /* Añade un margen derecho entre los enlaces (opcional) */
}
.sin-punto{
  list-style:none
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}
.border{
  border-radius: 0% !important;
}
